/* CUSTOM STORY STYLE */
/*From here for now:*/
/*https://github.com/the-pudding/eu-regions/blob/master/src/css/story/story.styl*/
@import "../utils/helpers"
/* CUSTOM STORY STYLE */
body
	background-color white
	story
		max-width 743px
		margin 0 auto
		font-size 18px
		.prose
			line-height 1.5em
			max-width 620px
			font-family: $roboto
			margin 1rem auto
			padding 0 1rem
		h2.section-hed
			font-family $playfair
			font-size 3rem
			max-width 635px
			text-align center
			margin 4% auto 6%
			line-height 3.625rem
			padding 0 1rem
		h3
			font-family $roboto
			font-size 1.5rem
			max-width 635px
			margin 2% auto
		button
			text-transform uppercase
			padding 1.2rem 1.5rem
			font-family $sans
			font-weight 700
			display block
			margin 0 auto
			margin-bottom 10%
			background-color #008577
			color #fff
			border-radius 3.75rem
		button:hover
			background-color #007367
		button[aria-disabled=true]
			pointer-events none
			cursor auto
			opacity 0.5

.worldmap {
    position: relative;
	display: block;
	justify-content: center;
	text-align: center;
}

.wrapscatt {
    position: relative;
	display: block;
	justify-content: center;
	text-align: center;
}

.packex {
    position: relative;
	display: block;
	justify-content: center;
	text-align: center;
}


.legend-title {
    fill: #576574;
    text-anchor: middle;
    font-weight: 900;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

.legend-byline {
    fill: #576574;
    opacity: 0.6;
    text-anchor: middle;
    font-size: 0.7em;
}

.legend-value {
    fill: #576574;
    dominant-baseline: middle;
    font-size: 0.8em;
}

.legend-value:first-of-type {
    text-anchor: end;
}

.axis-title {
    fill: #576574;
    text-anchor: middle;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 0.01em;
	font-family: $sans-display;
}