<div class='story'>

	<p class='prose'>{{doc.one}}</p>

    <div id="worldmap" class="worldmap">
    
</div>


<div class='story'>

	<p class='prose'>{{doc.two}}</p>

    <div id="wrapscatt" class="wrapscatt">
    
</div>


<div class='story'>

    <p class='prose'>{{doc.three}}</p>

    <div id="madamap" class="madamap">

</div>

<div class='story'>

    <p class='prose'>{{doc.four}}</p>

    <div id="packex" class="packex">

</div>
